extends layout

block content
    form#message-form(method='POST', action='/new')
        h3 Message
        textarea.text-input(name='text', cols='30', rows='10', form='message-form', required)
        h3 Name
        input.text-input(name='user' type='text' maxlength='20', required)
        input(type='submit', value='Send message')